
<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>loja online</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/paginaInicial.css' %}">
		<link rel="stylesheet" type="text/css" href='css/paginaInicial.css'>		
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel='stylesheet' type="text/css" href='lib/bootstrap/css/bootstrap.min.css'>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	</head>
	<body>
		<header>
			<div class="container">
				<h1>Sua loja virtual</h1>
				<a href="index"><i class="fas fa-shopping-bag "id=logotipo></i></a>
				<nav id="search" class =search>
				<input type="search" placeholder="pesquisar produtos..." name="q" required>
				<button type="button"><i id="search" class="fa fa-search"></i></button>
				</nav>
			</div><!--container-->
		</header>
    </body>
	<section>
			<div class="container-section">
				<nav>
					<div class="camisas" type=button> 
						<a href="products_consult.html"><h2><i class="fas fa-tshirt" id="lista"></i>CAMISAS</h2></a>
					</div>
					<div class="bones" type=button>
						<h2><a href="products_consult.html"><i class="fas fa-graduation-cap" id="lista"></i>BONÉS</h2></a>
					</div>
					<div class="bermudas"type=button>
						<a href="products_consult.html"><h2><i class="fas fa-columns" id="lista"></i>BERMUDAS</h2></a>
					</div>
					<div class="sapatos" type=button>
						<a href="products_consult.html"><h2><i class="fas fa-shoe-prints" id="lista"></i>SAPATOS</h2></a>
					</div>
				</nav>
			</div>
		</section>	
	</body>
	<script type="text/javascript" src="{% static 'lib/jquery/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src='lib/jquery/jquery.min.js'></script>
	<script type="text/javascript" src='lib/bootstrap/js/bootstrap.min.js'></script>
</html>