@font-face{

	font-family: 'OpenSans';
	src:url("../fonts/Open_Sans/OpenSans-Regular.ttf");
	font-size: 1em;

}

@font-face{

	font-family: 'OpenSans-light';
	src:url("../fonts/Open_Sans/OpenSans-light.ttf");
	font-size: 1em;

}

header {

	position: relative;
    width: 100%;
    background-color: rgba(7, 66, 191, .5 );
    margin-top: -24px;
    height: 101px;
    z-index: 2;
}
i#logotipo{
    color: #ffff;
    font-size: 60px;
    position: relative;
    top: -73px;

}

nav#search {
   margin-top: -43px;
   margin-right: -14px;   
}
header h1 {

    font-family: 'OpenSans';
    font-size: 63px;
    color: #ffff;
    margin-left: 290px;
}
header input {
    border: none;
    background-color: rgba(7, 66, 191, .4);
    height: 22px;
    width: 256px;
    margin-right: -4px;
}

i#search{
    font-weight: 900;
    color: #ffff;
}


input#btnsearch {
    position: relative;
    font-size: 13px;
    top: -20px;
  }

button {
    background-color: rgba(7, 66, 191, .4);
    border: none;
   }
body 
{
	background-color:#d1dffd40;
}
h2 {
    font-family:'OpenSans-light';
    font-size: 65px;
}